##TemplateLayout(InternalPopup)##
##StartPlaceholderRegion("MainContent")##
	<h2>##RenderControl(_system/PageTitle)##</h2>
	##RenderControl(JobLocationPopup)##
##EndPlaceholderRegion("MainContent")##