<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
##RenderControl(_system/headsection)##
</head>

<body>
##StartPageBody##		 
	
	##RenderControl(_system/Navigation/TopMultiLevelDropDownMenu UseMenuTitles="true" IncludeInPrintFriendlyVersion="false")##
    ##RenderControl(_system/breadcrumb)##
	<table width="100%" border="0" cellpadding="5" cellspacing="5">			
		<tr>
			<td valign="top">
				<div style="WIDTH: 100%; padding: 5px;" id="content">
					<h1 class="pageTitle"><span id="pageTitleSpan">##RenderControl(_system/PageTitle)##</span></h1>
					##PlaceholderRegion("MainContent")##
				</div>
			</td>
			<td valign="top" class="sideBar">
				##RenderControl(_system/LanguageSwitcherLarge)##
				
				<p>
					<div class="MostRecentNews">
						##RenderControl(_system/MostRecentNewsItem id="1" newsIndex="0" summaryLength="115" template="<div class='MostRecentNewsText'><a href='{0}'>{1}</a></div>")##
					</div>
				</p>
			    <p>
			        ##RenderControl(_system/UpcomingEvents count="3")##
			    </p>
			</td>
		</tr>
	</table>
	##RenderControl(_system/CopyrightStatement)##
	##RenderControl(_system/footer)##
	<div id="LoginStatus">
		##RenderControl(_system/LoginStatus)##
	</div>		
		
	##EndPageBody##
	##RenderControl(FloatingEditMenu)##	
	<script type="text/javascript" src="/js/site/pjtc.js"></script>
</body>
</html>
