<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	##RenderControl(_system/headsection)##


	</head>
	<body>
    ##StartPageBody##		        
		##RenderControl(_system/header)##
		##RenderControl(_system/Navigation/TopMultiLevelDropDownMenu UseMenuTitles="true" IncludeHomepage="true")##
		<table width="100%" border="0">			
			<tr>
				<td valign="top" id="SideNav_td">
					##RenderControl(_system/Navigation/CurrentThirdLevelListNavigation)##
				</td>
				<td valign="top">
					##RenderControl(_system/breadcrumb)##
					
					<div id="content">
						<h1 class="pageTitle">##RenderControl(_system/PageTitle)##</h1>
						
						##PlaceholderRegion("MainContent")##
						 																													
														
								
					</div>
				</td>
			</tr>
		</table>
    	##RenderControl(_system/CopyrightStatement)##
		##RenderControl(_system/footer)##
		<div id="LoginStatus">
			##RenderControl(_system/LoginStatus)##
		</div>		
			
		##EndPageBody##
		##RenderControl(_system/FloatingEditMenu)##	
	</body>
</html>
