body { margin: 0px; padding: 0px; }
body, td { font-family: arial; font-size: 10pt; }

#navigation {
	background-color:#ebe854;
	border-bottom:2px solid #404040;	
	padding-left:40px;
	position:relative;
}

#navigation h1 {
	padding: 0px; 
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-left: 0px;
}

.wrapper {
	margin:auto;
	padding:0;
	position:relative;
	text-align:left;
	width:990px !important;
	}

.required { color: Red; font-size: 8pt; }