##TemplateLayout(PageLayout)##
##StartPlaceholderRegion("MainContent")##

						##PlaceHolder(PageTitle id="1" width="100%" height="1.3em")## 
						##PlaceHolder(HtmlContent id="1" width="100%" height="200px")##
						##PlaceHolder(SingleImageGallery id="1")##

##EndPlaceholderRegion("MainContent")##