body, td, th
{
	font-size: 10pt; font-family: Arial;
}

td.MenuSel { font-weight: bold; background-color: Black; color: White; text-align: center; padding: 3px; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; }
td.MenuSel a { color: White; font-weight: bold; }
td.MenuNotSel { background-color: #EEE; color: #999; text-align: center; border-bottom: 1px solid black; }
td.MenuNotSel a { color: #999; }

.AdminMenu p { line-height: 2px;  }