##TemplateLayout(internal/InternalPopup)##
##StartPlaceholderRegion("MainContent")##
	<h2>##RenderControl(_system/PageTitle)##</h2>
	##RenderControl(_system/Internal/EventCalendarCategoryPopup)##
##EndPlaceholderRegion("MainContent")##